In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import pandas as pd
from tqdm import tqdm
import numpy as np

In [15]:
df = pd.read_csv('price_list_ver2.csv')

In [16]:
df.head()

,Unnamed: 0,Date,Name,Year,Month,Gu,Dong,Address,Building Year,Floor,...,Price per Area Log Scale,Total Population,Children,Adolescent,Youth,Middle-Aged,Old Age,Elementary Schools Within 700m,Nearby Hangang,Prestigious School Within 2500m
0,0,20231231,블루힐하우스,2023,202312,서초구,잠원동,서초구 잠원동 0071-0001,24.0,2,...,7.675002,50621,5458,4796,12524,21278,6564,1,1,2
1,1,20231231,신내6대주,2023,202312,중랑구,신내동,중랑구 신내동 0650-0000,27.0,6,...,6.893178,57327,4805,3661,14329,23273,11257,3,0,0
2,2,20231231,삼익대청아파트,2023,202312,강남구,개포동,강남구 개포동 0012-0000,31.0,8,...,7.904458,80274,8445,5786,20922,32104,13017,4,0,7
3,3,20231231,래미안에스티움,2023,202312,영등포구,신길동,영등포구 신길동 4950-0000,6.0,14,...,7.393326,102393,8158,4653,31971,38978,18633,4,0,0
4,4,20231231,동부(105동~106동),2023,202312,구로구,오류동,구로구 오류동 0339-0000,24.0,10,...,6.661168,43746,2864,1840,14471,16035,8536,1,0,2

In [17]:
df['Gu_encoding'] = df['Gu'].astype('category').cat.codes + 1
df['Dong_encoding'] = df.groupby('Gu').cumcount() + 1
df['Gu_encoding'] = df['Gu_encoding'].astype('int64')
df['Dong'] = df['Gu_encoding'] * 100 + df['Dong_encoding']

#동을 구에 맞게 인코딩합니다.

In [18]:
X = df[['Dong', 'Building Year', 'Floor', 'Actual Price Index', 'Living Price Index','Interest Rate','Distance to MC','Distance to NS','Bus Station Within 500m', 'Total Population', 'Children', 'Adolescent',	'Youth','Middle-Aged','Old Age', 'Elementary Schools Within 700m','Nearby Hangang', 'Prestigious School Within 2500m']]
y = df['Price per Area Log Scale']

In [19]:
X_train_test, X_val_test, y_train_test, y_val_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 그 다음, 훈련 세트를 다시 훈련 세트와 검증 세트로 분할
X_train, X_val, y_train, y_val = train_test_split(X_train_test, y_train_test, test_size=0.25, random_state=42)

In [29]:
rf = RandomForestRegressor(n_estimators=100, random_state=42)

rf.fit(X_train, y_train)

predictions = rf.predict(X_val)

# 성능 지표 계산
r2 = r2_score(y_val, predictions)
mse = mean_squared_error(y_val, predictions)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_val, predictions)

# 성능 지표 출력
print(f'R^2: {r2:.4f}')
print(f'MSE: {mse:.4f}')
print(f'RMSE: {rmse:.4f}')
print(f'MAE: {mae:.4f}')

R^2: 0.8757
MSE: 0.0263
RMSE: 0.1620
MAE: 0.1130