In [2]:
import pandas as pd

df = pd.read_csv('seoul_apratment_price_2020.csv', low_memory=False)

In [3]:
df2 = df[['자치구명', '법정동명', '건물명', '계약일', '물건금액(만원)', '건물면적(㎡)', '층', '건축년도', '위도', '경도']]

In [4]:
df2.head()

,자치구명,법정동명,건물명,계약일,물건금액(만원),건물면적(㎡),층,건축년도,위도,경도
0,마포구,신공덕동,대우메트로디오빌,20240219,40000,34.39,19,2005.0,37.544079,126.955906
1,강동구,성내동,광남캐스빌(448-5),20240219,60000,81.62,8,2001.0,37.530493,127.128992
2,도봉구,방학동,신동아타워아파트,20240219,43000,84.74,15,1997.0,37.664817,127.042420
3,양천구,신정동,목동신시가지12,20240217,139500,71.64,15,1988.0,37.515180,126.855709
4,양천구,신월동,목동센트럴아이파크위브4단지,20240217,107500,84.98,18,2020.0,37.526429,126.834227

In [5]:
new_column_names = {'자치구명': '구', '법정동명': '동','건물명': '건물명', '계약일': '계약일', '물건금액(만원)': '매매가', '건물면적(㎡)': '면적', '층': '층', '건축년도': '건축년도', '위도': '위도', '경도': '경도'}
df = df2.rename(columns=new_column_names, inplace=True)

C:\Users\LSNAu\AppData\Local\Temp\ipykernel_33160\197881314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df = df2.rename(columns=new_column_names, inplace=True)

In [6]:
df2

,구,동,건물명,계약일,매매가,면적,층,건축년도,위도,경도
0,마포구,신공덕동,대우메트로디오빌,20240219,40000,34.39,19,2005.0,37.544079,126.955906
1,강동구,성내동,광남캐스빌(448-5),20240219,60000,81.62,8,2001.0,37.530493,127.128992
2,도봉구,방학동,신동아타워아파트,20240219,43000,84.74,15,1997.0,37.664817,127.042420
3,양천구,신정동,목동신시가지12,20240217,139500,71.64,15,1988.0,37.515180,126.855709
4,양천구,신월동,목동센트럴아이파크위브4단지,20240217,107500,84.98,18,2020.0,37.526429,126.834227
...,...,...,...,...,...,...,...,...,...,...
180544,강북구,미아동,에스케이북한산시티,20200101,52850,84.92,2,2004.0,37.628200,127.026250
180545,강서구,방화동,방화동2차태승훼미리,20200101,59800,83.58,10,2005.0,37.575906,126.813593
180546,강북구,미아동,에스케이북한산시티,20200101,55000,84.86,20,2004.0,37.628200,127.026250
180547,강북구,미아동,벽산라이브파크,20200101,54500,114.68,11,2004.0,37.628200,127.026250
180548,강북구,미아동,에스케이북한산시티,20200101,52800,84.86,21,2004.0,37.628200,127.026250

In [7]:
df2.dropna(axis=0, inplace=True)

In [8]:
indices_to_change = df2.index[df2['동'] == '하중동'].tolist()

desired_latitude = 37.545879
desired_longitude = 126.928654 

for idx in indices_to_change:
    df2.at[idx, '위도'] = desired_latitude
    df2.at[idx, '경도'] = desired_longitude


indices_to_change2 = df2.index[df2['동'] == '신원동'].tolist()

desired_latitude2 = 37.480301
desired_longitude2 = 126.925890 

for idx in indices_to_change2:
    df2.at[idx, '위도'] = desired_latitude2
    df2.at[idx, '경도'] = desired_longitude2

indices_to_change3 = df2.index[df2['동'] == '영천동'].tolist()

desired_latitude3 = 37.570172
desired_longitude3 = 126.961288

for idx in indices_to_change3:
    df2.at[idx, '위도'] = desired_latitude3
    df2.at[idx, '경도'] = desired_longitude3

indices_to_change4 = df2.index[df2['동'] == '시흥동'].tolist()

desired_latitude4 = 37.446590
desired_longitude4 = 126.900834

for idx in indices_to_change4:
    df2.at[idx, '위도'] = desired_latitude4
    df2.at[idx, '경도'] = desired_longitude4


desired_latitude5 = 37.543350
desired_longitude5 = 127.005778 

desired_latitude6 = 37.569148
desired_longitude6 = 126.995634 

desired_latitude7 = 37.540881
desired_longitude7 = 126.963387 

desired_latitude8 = 37.556689
desired_longitude8 = 126.947707 

desired_latitude9 = 37.557865
desired_longitude9 = 126.958454 

desired_latitude10 = 37.542413
desired_longitude10 = 126.959834 

desired_latitude11 = 37.574376
desired_longitude11 = 126.954857 

indices_to_change5 = df2.index[df2['동'] == '연지동'].tolist()
indices_to_change6 = df2.index[df2['동'] == '평동'].tolist()
indices_to_change7 = df2.index[df2['동'] == '도원동'].tolist()
indices_to_change8 = df2.index[df2['동'] == '대현동'].tolist()
indices_to_change9 = df2.index[df2['동'] == '인의동'].tolist()
indices_to_change10 = df2.index[df2['동'] == '용문동'].tolist()
indices_to_change11 = df2.index[df2['동'] == '수송동'].tolist()

for idx in indices_to_change5:
    df2.at[idx, '위도'] = desired_latitude5
    df2.at[idx, '경도'] = desired_longitude5

for idx in indices_to_change6:
    df2.at[idx, '위도'] = desired_latitude6
    df2.at[idx, '경도'] = desired_longitude6

for idx in indices_to_change7:
    df2.at[idx, '위도'] = desired_latitude7
    df2.at[idx, '경도'] = desired_longitude7

for idx in indices_to_change8:
    df2.at[idx, '위도'] = desired_latitude8
    df2.at[idx, '경도'] = desired_longitude8

for idx in indices_to_change9:
    df2.at[idx, '위도'] = desired_latitude9
    df2.at[idx, '경도'] = desired_longitude9

for idx in indices_to_change10:
    df2.at[idx, '위도'] = desired_latitude10
    df2.at[idx, '경도'] = desired_longitude10

for idx in indices_to_change11:
    df2.at[idx, '위도'] = desired_latitude11
    df2.at[idx, '경도'] = desired_longitude11

In [13]:
df2.head(10)

,구,동,건물명,계약일,매매가,면적,층,건축년도,위도,경도
0,마포구,신공덕동,대우메트로디오빌,20240219,40000,34.39,19,2005.0,37.544079,126.955906
1,강동구,성내동,광남캐스빌(448-5),20240219,60000,81.62,8,2001.0,37.530493,127.128992
2,도봉구,방학동,신동아타워아파트,20240219,43000,84.74,15,1997.0,37.664817,127.042420
3,양천구,신정동,목동신시가지12,20240217,139500,71.64,15,1988.0,37.515180,126.855709
4,양천구,신월동,목동센트럴아이파크위브4단지,20240217,107500,84.98,18,2020.0,37.526429,126.834227
5,은평구,역촌동,디딤빌아파트,20240217,45000,84.32,8,2000.0,37.604577,126.914625
6,양천구,신정동,세양청마루,20240217,72000,59.98,10,2006.0,37.515180,126.855709
7,구로구,구로동,구로두산,20240217,46000,44.64,11,1998.0,37.494257,126.884687
8,도봉구,도봉동,한양수자인,20240217,54000,84.46,5,2010.0,37.684846,127.029219
9,강동구,둔촌동,현대3,20240217,71500,79.99,1,1988.0,37.528254,127.144714

In [ ]:
import folium
from folium import plugins

#지도 생성
m2 = folium.Map(location=[df2['위도'].mean(), df2['경도'].mean()], zoom_start=10)


heat_data2 = [[row['위도'], row['경도'], row['매매가']] for i, row in df2.iterrows()]
plugins.HeatMap(heat_data2, radius=15).add_to(m2)

m2.save('map_with_price_contours_fix.html')
m2

In [ ]:
df2.to_csv('seoul_apratment_price_fix.csv')